<div class="container">
	<h1>
  	An app for tracking books and authors.
  </h1>
	<div class="row">
		<div class="col s12 m6">
			<div class="card grey">
				<div class="card-content white-text">
					<span class="card-title">Books</span>
					<p>View a list of books here</p>
				</div>
				<div class="card-action">
					<a href="/books">View Books</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card grey">
				<div class="card-content white-text">
					<span class="card-title">Authors</span>
					<p>View a list of authors here</p>
				</div>
				<div class="card-action">
					<a href="/authors">View Authors</a>
				</div>
			</div>
		</div>
	</div>

</div>
